/* Define cutsom properties */
:root {
  --primary-color: #5d2be9;
  --primary-color-darker: #5326d1;
  --primary-color-lighter: #b07be0;
  --primary-color-lightest: #efe4f8;
  --font-color-comment: #616060;
  --border-color-boxes: #d3d3d3;
  --font-color-light: #fff;
  --font-color-dark: #12082e;
  --background-color-light: #e8e8e8;
  --color-danger: #e74c3c;
  --color-warning: #f0ad4a;
  --color-default: #bdc3c7;
  --color-success: #2ecc71;
  --color-info: #3498db;
  --

}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.otf");
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand-Bold.otf");
}

@font-face {
  font-family: "Quicksand-BoldItalic";
  src: url("../fonts/Quicksand-BoldItalic.otf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/Quicksand-Light.otf");
}

/* Reset styles to avoid cross-browser differences*/
* {
  margin: 0;
  padding: 0;
 /* border: 1px solid magenta; /*only dev helper */
}

body {
  line-height: 17px;
  background-color: var(--background-color-light)
}

.top-bar {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  border-bottom: 5px solid var(--primary-color-darker);
  margin: 0 0 10px 0;
  display: inline-flex;
  font-family: "Quicksand-Bold", sans-serif;
  position: fixed;
  z-index: 5;
  position: fixed;
}

.logo a {
  font-family: "Quicksand-Bold", sans-serif;
  margin-left: 10px;
  font-size: 150%;
  position: relative;
  top: 9px;
  text-decoration: none;
  color: var(--font-color-dark);
  text-shadow:var(--primary-color-lighter); 0.5px 0.5px 0px;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a {
  position: relative;
  color: var(--font-color-light);
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px 0 10px;
}

nav a:hover {
  border-bottom: 7px solid var(--primary-color-lighter);;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid var(--border-color-boxes);
  border-radius: 7px;
  box-shadow: 1px 1px 1px var(--border-color-boxes);
  z-index: 1;
}

.user_details {
  width: 270px;
  float: left;
  margin-bottom: 20px;
}

.user_details a {
  text-decoration: none;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details_left_right a {
  text-decoration: none;
  color: var(--primary-color);
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.main_column {
  float: right;
  width: 270px;
z-index: 2;
  min-height: 160px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 100%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid var(--border-color-boxes);
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--font-color-light);
  padding: 10px;
  font-family: "Quicksand-Bold" sans-serif;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin-top: 5px;
}

/* .post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
} */

.post_form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--primary-color-darker)
}

.posted_by a {
  text-decoration: none;
  color: var(--primary-color);
}

.post_list {
  margin-top: 70px;
 
}

.status_post {
/* display: flex;
flex-direction: row;
align-content: flex-start; */
  width: 96%;
  font-size: 15px;
  padding: 0 5px;
  min-height: 75px;
  cursor: pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 70x;

}

.post_profile_pic img {
  border-radius: 5px;
  margin-right: 10px;
}

.post_container {
  display: flex;
  flex-direction: column;
}

/* Iframe Comment Section and likes styling */

#comment_iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

.comment-section {
  padding: 0 5px 5px 5px;
}



.comment-section img {
  margin: 3px 3px 0px 3px;
  border-radius: 3px;
}

.comment-section a {
  text-decoration: none;
  color: var(--primary-color-darker);
}

#comment_form textarea {
  border-color: var(--border-color-boxes);
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: var(--font-color-comment);
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--font-color-light);
  padding: 3px;
  width: 85%;
  margin: 0 0 10px 6px;
  font-family: "Quicksand-Bold" sans-serif;
}

#comment_form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--primary-color-darker);
}

.newsfeed_post_options {
  padding: 0;
  text-decoration: none;
  color: var(--primary-color);
  border: none;
}

.newsfeed_post_options iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.newsfeed_post_options form {
  position: absolute;
  top: 0;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--primary-color);
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.comment_like:hover {
  cursor: pointer;
}

.like_value {
display: inline;
font-size: 14px;
}

/* Profile Page stylings*/

.profile_left {
width: 270px;
background-color: var(--primary-color);
color: var(--font-color-light);
border-bottom: 5px solid var(--primary-color-lighter);
}

.profile_left img {
  min-width: 60px;;
  width: 35%;
  margin: 20px;
  border: 5px solid var(--primary-color-lighter);
  border-radius: 100px;

}

.profile_info {
  display: list-item;
  background-color: var(--primary-color-darker);
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
  padding: 0;
}

.danger {
  background-color: var(--color-danger);
}

.warning {
  background-color: var(--color-warning);

}

.success {
  background-color: var(--color-success);
}

.default {
  background-color: var(--color-default);
  color: var(--font-color-dark);
}

.profile_left input[type="submit"] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 10px 7px;
  border: none;
  color: var(--font-color-light);
}

#accept_button {
width: 20%;
height: 28px;
border-radius: 5px;
margin: 10px 5px 5px 0;
border: none; 
color: var(--font-color-light);
background-color: var(--color-success);
}

#ignore_button {
width: 20%;
height: 28px;
border-radius: 5px;
margin: 5px;
border: none; 
  color: var(--font-color-light);
  background-color: var(--color-danger);
}

.post_modal_btn {
  background-color: var(--primary-color-darker);
  color: var(--font-color-light);
}

.post_modal_btn:hover {
  background-color: var(--primary-color-lighter);
  color: var(--font-color-light);
}

.delete_button {
  height: 22px;
  width: 22px;
  float: right;
  border: none;
  background-color: transparent;
  position: relative;
  right: -15px;
  color: var(--color-danger);  
}

.delete_button:hover {

}

.profile_info_bottom {
  margin: 15px 0 10px 7px;


}

#main_column h4  {
  font-size: 100%;
  font-family: "Quicksand-Bold" sans-serif;
}

#main_column h4 a {
  text-decoration: none;
  color: var(--primary-color);
}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color-boxes);
  font-size: 12px;
  height: 50px;
}

#message_submit {
  height: 50px;
  width: 120px;
  margin 0;
 
  border: none;
  color: var(--font-color-light);
  background: var(--primary-color);
  border-radius: 5px;
  font-family: "Quicksand-Bold" sans-serif;
}

#message_submit:hover{
  background-color: var(--primary-color-darker);
}

.message {

  border-radius: 5px;
  padding: 8px 10px;
  display: inline-block;
  color: var(--font-color-light);
  clear: both;
}

.message#dark {
  background-color: var(--primary-color-darker);
  float: right;
  margin-bottom: 5px;}

.message#light {
  background-color: var(--primary-color-lighter);
  margin-bottom: 5px;
  float: left;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 216px;
  overflow: scroll;
}

.loaded_conversations a {
  text-decoration: none;
  color: var(--primary-color);
}

#search_text_input {
margin-bottom: 20px;
padding: 2px;
border: 1px solid var(--border-color-boxes);

}

#search_text_input:focus {
  border: 1px solid var(--primary-color);
}

.user_found_messages {
  border-bottom: 1px solid lightgray;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: var(--background-color-light);
}

.user_found_messages img {
  height: 33px;
  float: left;
}

#grey {
  color: var(--font-color-comment);
}

.resultDisplay {
  padding: 5px 5px 0 5px;
  height: 60px;
  border-bottom: 1px solid var(--border-color-boxes);
}

.resultDisplay a {
  float: none;
  text-decoration: none;
}

.resultDisplay:hover {
  background-color: var(--background-color-light);
}

.liveSearchProfilePic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;

}

.liveSearchText {

  background-color: transparent;
  color: var(--primary-color-darker);
}

.liveSearchText p {
  margin-left: 10px;
  font-size: 12px;
}

.tab-content {
  margin-top: 25px;
}

.nav-link {
  color: var(--primary-color-darker)
}

#messages_div a {
  text-decoration: none;
  color: var(--primary-color);
}

.dropdown_data_window {
  /* height: 280px;
  padding: 0px; */
  background-color: #fff;
  border: 1px solid var(--border-color-boxes);
  width: 300px;
  border-radius: 0 0  8px 8px;
  position: absolute;
  right: 10px;
  top: 44px; 
  overflow: scroll;
}

.dropdown_data_window a {
  text-decoration: none;
  color: var(--primary-color-darker);
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: var(--color-danger);
  border-radius: 10px;
  position: absolute;
  left: 15px;
  top: -2;
}


.resultDisplayNotification {
  height: auto;
  color: var(--primary-color-darker);
  padding-bottom: 8px;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}


 




/*Styles for larger screens*/
@media (min-width: 950px) and (max-width: 5000px) {
  .wrapper {
    flex-direction: row;
    align-content: space-between;
  }

  .user_details {
    height: 160px;
  }

  .column {
    float: left;
  }

  .main_column {
    width: 70%;
    margin-left: 20px;
  }
  .post_form textarea {
    width: 81%;
  }
  .post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    margin: 0;
    font-size: 100%;
  }

  #comment_form input[type="submit"] {  
    width: 13%;
    margin-top: 3px;
    height: 35px;
    position: absolute;
  }

  /* Profile Page stylings*/

  .profile_left {
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100vh;
    float: left;
    position: relative;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    margin-right: 20px;
    border-bottom: none;
    border-right: 5px solid var(--primary-color-lighter);
    
    
    }

    .profile_left img {
      min-width: 80px;
      width: 55%;
      margin: 20px;

  
    
    }


.profile_left input[type="submit"] {
  width: 90%; 
  margin: 7px 0 0 7px;
 



 
}
